    <!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到仓库管理系统</title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body style="background: url({% static 'images/login_bg.jpg' %});background-size: cover;">
    <div class="ui img">
        <a href="http://www.ayit.edu.cn/" target="_blank">
            <img src="{% static 'images/SchoolLogo.png' %}" class="ui img " style="position: absolute;top: 3%;left: 1%;">
        </a>
    </div>
    <div class="ui bottom">
        <a href="/admin" target="_blank">
            <button  class="ui red submit button" style="position: absolute;top: 3%;left: 90%;">管理员入口</button>
        </a>
    </div>
    <!--<div class="ui bottom">-->
        <!--<a href="/admin" target="_blank">-->
            <!--<button  class="ui red submit button" style="position: absolute;top: 3%;left: 80%;">新用户注册</button>-->
        <!--</a>-->
    <!--</div>-->
    {% if messages %}
       <ul class=" ui red header messages" style="background-color: ghostwhite; position: absolute;top: 60%;left: 42%;">
           {% for message in messages %}
           <P {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</P>
           {% endfor %}
       </ul>
    {% endif %}
   <div class="ui center segment"
                style=" min-height: 540px;
                opacity: 0.8;
                background-color: ghostwhite;
                width:315px !important;
                border:rgba(255, 0, 0, 0);
                position: absolute;
                left: 50%;
                top:50%;
                transform: translate(-50%,-50%);">
       <div class="ui center content login">
           <div class="ui header">
               <h2 class="ui red">个人信息更改</h2>
               <form action="/infochange/" method="post" style="position: absolute;top: 10%;left: 5%;">
                   {% csrf_token %}
                   <div class="field">
                       <div class="ui left icon input">
                            {{ form.as_p }}
                       </div>
                   </div>
                   <a href="/login/" class="ui user icon" style="position: absolute;top: 105%;left: 2%;">立即登录</a>
                   <a href="/register/" class="ui user icon" style="position: absolute;top: 105%;left: 70%;">立即注册</a>
                   <button class="ui center red submit button" style="position: absolute;top: 112%;left: 30%;">确认更改</button>
               </form>
           </div>
       </div>
   </div>



</body>
</html>